@using CareerHub.Client.API.Students.Appointments
@model IEnumerable<AppointmentBookingModel>
@{
}

<h1>My Bookings</h1>
<table>
    <tbody>
        @foreach (var appt in Model) {
            <tr>
                <td>@appt.Consultant</td>
                <td>@appt.Start</td>
            </tr>
        }
    </tbody>
</table>